table{
    /* display: block; */
    margin: 10px !important;
    width: 1050px !important;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: 1px solid black !important;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}